# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Monorepo root ignore rules
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
.android/
android/
ios/
linux/
macos/
windows/
web/
lib/
test/
assets/
.metadata
analysis_options.yaml
devtools_options.yaml
pubspec.yaml
pubspec.lock
.gradle/

# IDE/system
.idea/
.DS_Store